/* Achievements styling */

.about_achievements{
    margin-top: 3rem;
}
.about_achievement-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
    
}
.about_achievements-right > p{
    margin: 1.6rem 0 3rem;
}

.achievements_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;

}

.achievements_card{
    background-color: var(--color-bg1);
    padding: 1.3rem;
    border-radius: 2rem;
    text-align: center;
    transition: var(--transition);

}

.achievement_icon{
    font-size: 2rem;
    color: var(--color-text1);
    background: var(--color-danger);
    display: inline-block;
    margin-bottom: 2rem;
    border-radius: 2rem;

}

.achievements_card:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    background: var(--color-bg2);

}


.achievements_card:nth-child(2) .achievement_icon{
    background: var(--color-success);
}
.achievements_card:nth-child(3) .achievement_icon{
    background: var(--color-primary);
}

/* Team styling */

.team{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.2);
}
.team_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 4rem;
}
.team_member{
    background-color: var(--color-bg2);
    padding: 2rem;
    border-radius: 2.5rem;
    position: relative;
    border: 1px solid transparent;
    transition: var(--transition);
    overflow: hidden;
}

.team_member:hover{
    background: transparent;
    border-color: var(--color-primary);
}

.team_member-image img{
    filter: saturate(0);
}
.team_member-image:hover img{
    filter: saturate(1);
}
.team_info{
    color: var(--color-white);
}


.team_socials{
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: .4rem;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    transition: var(--transition);
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.2);



}

.team_socials a{
    padding: 1rem;
}


.team_member:hover .team_socials{
   right: 0;
}


/* media  queries for tablet */

@media screen and (max-width: 1024px){
    .about_achievements{
        margin-top: 2rem;
    }
    .about_achievement-container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .about_achievements-left{
        width: 80%;
        margin: 0 auto; 
    }
    .team_container{
        grid-template-columns: repeat(3,1fr);
        gap: 1.4rem;
    }
    .team_member{
        padding: 1rem;
    }
}


/* Mobile phone media queries */

@media screen and (max-width: 600px){
    .achievements_card{
        grid-template-columns: 1fr 1fr;
        gap: .7rem;
    }
    .team_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .team_member{
        padding: 0;
    }
    .team_member p{
        margin-bottom: 1.5rem;
    }

}



