@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

:root{
    --color-primary: #6c63ff;
    --color-seccess: #00bf8e;
    --color-danger: #f13832;
    --color-warning: #f7c94b;
    --color-danger-varient: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;


}

body{
    font-family: 'Noto Serif Display', serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.5;
    
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;

}
section{
    padding: 6rem 0;
    margin-bottom: 4rem;
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.2;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: var(--color-white);

}
.image{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}


.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
}

/* navbar styling */

nav{
    width: 100vw;
    height: 5rem;
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 11;
}
.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav_menu a{
    font-size: .9rem;
    transition: var(--transition);


}
.nav_menu a:hover{
    color: var(--color-bg2);
}


/* header styling */

header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 100vh;
    margin-bottom: 5rem;
}

.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header_container p{
    margin: 1rem 0 2.4rem;
}
